div.grey {
    color: gray;
}
h1 {
    color: gray;
}
div.centertext {
    text-align: center;
}
table, th, td {
    border: 1px solid black;margin-left:auto;margin-right:auto;
}
div.lefttext {
    text-align: left;
}
body {
    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@font-face {
    font-family: MochiyPopOne;
    src: url('fonts/MochiyPopOne-Regular.ttf')
}
@font-face {
    font-family: ArialFont;
    src: url('fonts/arial.ttf')
}
div.Mochiy {
    font-family: MochiyPopOne;
}
div.Arial {
    font-family: ArialFont;
}
div.margin {
    margin-left: 200px;margin-right: 200px;
}
div.lightgray {
    color: lightgray;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}