* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.centertext {
    text-align: center;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(138, 138, 138, 0.7),rgba(138, 138, 138, 0.7)),url(images/Background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.margin {
    margin-left: 200px;margin-right: 200px;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.indent {
    margin-left: 20px;
}
nav {
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 4px 6px;
}
.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #005ca7;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li.other:hover::after {
    width: 100%;
}
li a.active{
    content: '';
    width: 100%;
    height: 2px;
    background: #005ca7;
    display: block;
    margin: auto;
}